@import url("https://fonts.googleapis.com/css?family=Kalam");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Anton");

html body {
  text-align: center;
}

.app {
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.app-title {
  font-size: 1.5em;
}

.header {
  background-color: rgb(44, 44, 44);
  height: 90vh;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
}

.header_contents {
  padding-top: 50px;
  position: relative;
  z-index: 9999;
}

.titleName {
  margin-top: 0px;
  padding: 2px;
  font-size: 3em;
  margin-bottom: 0px;
  color: white;
}

.titleDescription {
  font-weight: lighter;
  line-height: 0px;
  color: white;
}

nav {
  background-color: white;
  overflow: hidden;
  padding-bottom: 20px;
  padding: 20px;
  position: relative;
  z-index: 9999;
  top: -1em;
}

nav a {
  color: rgb(68, 68, 68);
  padding: 14px 20px;
  font-size: 16px;
  font-family: "Josefin Sans";
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.1s;
}

nav a:hover,
a:focus {
  color: rgb(173, 173, 173);
}

nav span {
  color: rgb(61, 61, 61);
  font-weight: lighter;
  font-size: 16px;
}

.circular--portrait {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: auto;
  height: 100%;
}

.Icons {
  padding-top: 25px;
}

.Icon1,
.Icon2,
.Icon3 {
  margin: 0 5px;
  z-index: 10;
  transition: 0.1s;
  opacity: 3;
}

.Icon1:hover,
.Icon1:focus,
.Icon2:hover,
.Icon2:focus,
.Icon3:hover,
.Icon3:focus {
  opacity: 0.5;
}

.Line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 30%;
  height: 1px;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.intro {
  padding-top: 40px;
  padding-bottom: 20px;
}

.intro p {
  color: white;
  font-family: "Josefin Sans";
}

.content {
  background-color: white;
  position: relative;
  padding-top: 0px;
  z-index: 1;
}

.skills_content {
  background-color: #ffffff;
  padding: 20px;
}

.skills_content h1 {
  font-family: "Josefin Sans";
}

.skills_content h4 {
  text-transform: capitalize;
  font-family: "Josefin Sans";
  padding-top: 10px;
}

.skills_content p {
  color: #232526;
  font-family: "Josefin Sans";
}

/*placement and background gradient*/
.projects_content {
  padding-top: 50px;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

/*font and color*/
.projects_content h1,
.projects_content p,
.projects_content b {
  font-family: "Josefin Sans";
  color: black;
}

.grouped_projects {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.projects img {
  width: 80%;
  transition: 0.3s;
}

.projects video {
  width: 80%;
  transition: 0.3s;
}

.projects img:hover,
.projects img:focus,
.projects video:hover,
.projects video:focus {
  transform: scale(1.01);
}

.projects {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  /* margin-top: 50px; */
  width: 30%;
  padding-bottom: 20px;
}

.projects:nth-child(2) {
  width: 50%;
  margin-bottom: 20%;
  padding-bottom: 20px;
}

.projects p {
  font-weight: lighter;
  margin-top: 0;
  padding-bottom: 10px;
  color: black;
}

.projects h2 {
  font-family: "Kalam";
  margin-bottom: 0;
}

.contact {
  padding: 4em;
}

.contact a {
  font-family: "Josefin Sans";
  font-weight: bold;
  font-size: 3em;
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.contact p {
  font-family: "Josefin Sans";
  font-weight: bold;
  color: #343535;
}

.contact a:hover,
.contact a:focus {
  color: rgb(150, 150, 150);
}

@media (min-width: 320px) and (max-width: 480px) {
  nav {
    background-color: white;
    position: relative;
    z-index: 9999;
    padding: 5px;
    padding-bottom: 10px;
  }

  nav a {
    color: black;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 13px;
  }

  .intro {
    padding-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .Line {
    width: 50%;
  }

  .skills {
    display: block;
    flex: 1;
    justify-content: center;
  }

  .skills:nth-child(2) {
    margin-bottom: 25px;
  }

  .skills:nth-child(3) {
    margin-bottom: 50px;
  }

  .grouped_projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .projects {
    width: 70%;
    margin-top: 10px;
  }

  .projects_content p {
    margin-left: 50px;
    margin-right: 50px;
  }

  .projects:nth-child(2) {
    width: 100%;
    margin-top: 10px;
  }

  .contact a {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 3em;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  nav {
    background-color: white;
    position: relative;
    z-index: 9999;
    padding: 5px;
    padding-bottom: 10px;
  }

  nav a {
    color: black;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    font-size: 13px;
  }

  .intro {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .skills {
    display: block;
    flex: 1;
    justify-content: center;
  }

  .skills:nth-child(2) {
    margin-bottom: 25px;
  }

  .skills:nth-child(3) {
    margin-bottom: 50px;
  }

  .contact a {
    font-family: "Josefin Sans";
    font-weight: bold;
    font-size: 1.5em;
  }

  .contact a:hover,
  .contact a:focus {
    font-size: 1.5em;
  }
}
